@charset "utf-8";
/* CSS Document */

html {
	overflow-y: auto;
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
	min-height: 600px;
	min-width: 800px;
}

header {
	text-align: center;
	color: #999;
	height: 150px;
	line-height: 150px;
	font-size: 14px;
	top: 0px;
	width: 100%;
	background: #fff;
}

nav {
	text-align: center;
	border: 1px #ddd solid;
	padding: 10px;
}

nav > li,
nav > ol {
	list-style: none;
	float: left;
	display: inline;
}

footer {
	-moz-box-shadow: 0 -2px 5px #111;
	-webkit-box-shadow: 0 -2px 5px #111;
	box-shadow: 0 -2px 5px #111;
	border-top: 1px #000 solid;
	text-align: center;
	color: #999;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: #111;
}

#about,
#service,
#open,
#contact {
	min-height: 200px;
}

div {
	text-align: center;
}