@charset "utf-8";
/* CSS Document */

html {
	overflow-y: auto;
	font-family: "Ubuntu", Arial;
}

body {
	margin: 140px 0 0 0;
	padding: 0;
	min-height: 600px;
	min-width: 800px;
}

header {
	text-align: center;
	color: #999;
	top: 0px;
	width: 100%;
	background: #fff;
	height: 140px;
	line-height: 100px;
	position: fixed;
	z-index: 5000;
}

header h1 {
	padding: 0;
	margin: 0;
}

nav {
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 10px;
	background: #333;
}

nav a {
	border: 1px solid #555;
	padding: 5px 15px;
	margin: 0 5px;
	font-size: 16pt;
}

footer {
	text-align: center;
	color: #999;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	background: #111;
}

div h2 {
	font-size: 24pt;
	padding: 0;
	margin: 0;
}

.block {
	margin: 0 auto;
	min-height: 200px;
	min-width: 800px;
	max-width: 60%;
	padding: 30px 5px;
}

#contnact {
	background: #333;
}

#contnact h2 {
	color: #ddd;
}