@charset "utf-8";
/* ScarWu, 2013 */

html {
	overflow-y: auto;
}

body {
	font-family: '微軟正黑體', '儷黑Pro', 'Ubuntu', Arial;
	font-size: 12pt;
	padding: 0;
	min-height: 600px;
	min-width: 800px;
}

header {
	text-align: center;
	top: 0px;
	width: 100%;
	background: #fff;
	height: 140px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

header h1,
header .slogan {
	padding: 0;
	margin: 0;
}

header h1 {
	margin-top: 40px;
	font-size: 32pt;
	color: #333;
}

header .slogan {
	color: #999;
}

nav {
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 10px;
	background: #fff;
	position: relative;
	z-index: 8000;
}

nav.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/*border-bottom: 1px solid #ccc;*/
	box-shadow: 0px 0px 10px #333;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
}

nav a {
	font-weight: bold;
	padding: 5px 15px;
	margin: 0 5px;
	font-size: 16pt;
	text-decoration: none;
	color: #444;
}

nav a:active,
nav a:visited {
	color: #444;
}

nav a:hover {
	color: #999;
}

footer {
	text-align: center;
	color: #999;
	height: 50px;
	width: 100%;
	font-size: 14px;
	background: #111;
	display: table;
	position: relative;
	z-index: 5000;
}

footer .info {
	display: table-cell;
	vertical-align: middle;
}

footer .top {
	position: absolute;
	margin: -40px 0 0 -20px;
	left: 50%;
	width: 0px;
	height: 0px;
	border: 20px solid;
	border-color: transparent transparent  #111 transparent;
	border-style: dashed dashed solid dashed;
	cursor: pointer;
}

.main_block {
	position: relative;
	z-index: 5000;
	box-shadow: 0px 0px 10px #333;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	/*border-top: 1px solid #ccc;*/
}

.main_block h2 {
	font-size: 28pt;
	padding: 0;
	margin: 0;
}

.main_block.fixed {
	position: fixed;
	left: 0;
	right: 0;
}

.block {
	margin: 0 auto;
	min-width: 800px;
	max-width: 1024px;
	padding: 30px 5px 45px 5px;
}

.block a {
	text-decoration: none;
	color: #444;
}

.block a:active,
.block a:visited {
	color: #444;
}

.block a:hover {
	color: #999;
}

.block .title {
	width: 350px;
	padding: 5px 15px;
}

.block .title span {
	padding-left: 25px;
}

.block .content {
	padding: 5px 25px;
}

#browser {
	background: #eee;
	color: #555;
}

#browser .content {
	text-align: center;
}

#browser .content a {
	display: inline-block;
	text-align: center;
	margin: 0 20px;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-o-filter: grayscale(1);
}

#browser .content a:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
}

#browser .content img {
	width: 100px;
	height: 100px;
}

#status {
	background: #333;
	color: #eee;
}

#status .content {
	text-align: center;
}

#status .content .server {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #222;
	background: #444;
	color: #ccc;
	display: inline-block;
	padding: 5px 0 15px 0;
	width: 150px;
	margin: 5px 10px;
	text-align: center;
}

#status .content .up {
	border: 1px solid #003300;
	background: #009900;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	width: 75px;
	height: 10px;
	display: inline-block;
}

#status .content .down {
	border: 1px solid #330000;
	background: #990000;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	width: 75px;
	height: 10px;
	display: inline-block;
}

#status .content .date {
	margin-top: 10px;
}

#services {
	background: #fff;
	color: #333;
}

#services .content {
	overflow: hidden;
}

#services .menu {
	width: 200px;
	padding: 10px 0;
	border-right: 1px solid #bbb;
	display: inline-block;
	float: left;
}

#services .menu .item {
	width: 175px;
	text-align: center;
	padding: 0px 2px;
	margin: 1px 0;
	border: 1px solid #fff;
	clear: both;
}

#services .menu .item.active {
	background: #eee;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #ddd;
}

#services .info {
	padding: 5px 25px 5px 250px;
	width: 100%;
}

#services .info .mirror a {
	display: inline-block;
	text-align: center;
	margin-right: 25px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

#services .info .mirror a:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
}

#services .info .mirror img {
	width: 150px;
	height: 150px;
}

#opening {
	background: #eee;
	color: #555;
}

#opening .content > h3 {
	text-align: center;
}

#opening table {
	margin: 15px auto;
	text-align: center;
}

#opening table h4 {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

#opening table span {
	font-size: 14px;
}

#opening table thead {
	font-size: 20px;
	background: #bbb;
}

#opening table tr:nth-child(even) {
	background: #ddd;
}

#opening table td {
	vertical-align: middle;
	padding: 5px;
	margin: 2px;
	width: 100px;
	height: 50px;
}

#contact {
	background: #222;
	color: #bbb;
}